<div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <form [formGroup]="EmpAddform" id="demo-form2" data-parsley-validate class="form-horizontal form-label-left" (ngSubmit)="submit()">
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">First Name <span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="text" id="first-name" required="required" formControlName="firstName">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Last Name <span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="text" id="last-name" name="last-name" required="required" formControlName="lastName">
              </div>
            </div>
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Gender <span class="required">*</span>
              </label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="text" id="Gender" name="gender" required="required" formControlName="gender">
              </div>
            </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Email <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" id="email" name="email" required="required" formControlName="email">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Phone <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" id="phone" name="phone" required="required"formControlName="phone">
                  </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Date Created <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input type="date" id="datecreated" name="datecreated" required="required" formControlName="dateCreated">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Date Modified <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input type="date" id="datemodified"name="datemodified" required="required" formControlName="dateModified">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Company Id <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input type="text" id="companyid" name="companyid" required="required" formControlName="companyId">
                    </div>
                  </div>
                <div class="form-group">
                  <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                    <button class="btn btn-primary" type="button">Cancel</button>
                    <button class="btn btn-primary" type="reset">Reset</button>
                    <button type="submit" class="btn btn-success">Submit</button>
                  </div>
                </div>
          </form>   
          <h3>Tables <small></small></h3>
        <div class="title_right">
          <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">Go!</button>
              </span>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>Table design <small>Custom design</small></h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Settings 1</a>
                    </li>
                    <li><a href="#">Settings 2</a>
                    </li>
                  </ul>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
              </ul>
              <div class="clearfix">

              </div>
            </div>
            <div class="x_content">
              <div class="table-responsive">
                <table class="table table-striped jambo_table bulk_action">
                  <thead>
                    <tr class="headings">
                      <th class="column-title">Id </th>
                      <th class="column-title">FirstName </th>
                      <th class="column-title">LastName </th>
                      <th class="column-title">Email </th>
                      <th class="column-title">Phone Number </th>
                      <th class="column-title">Date Created </th>
                      <th class="column-title">Date Modified </th>
                      <th class="column-title">Company Id </th>
                      <th class="column-title">Action</th>
                      <th class="bulk-actions" colspan="7">
                        <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                      </th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr *ngFor="let emp of empdata "class="even pointer">
                      <td class=" ">{{emp.id}}</td>
                      <td class=" ">{{emp.firstName}}</td>
                      <td class=" ">{{emp.lastName}}</td>
                      <td class=" ">{{emp.email}}</td>
                      <td class=" ">{{emp.phone}}</td>
                      <td class=" ">{{emp.dateCreated}}</td>
                      <td class=" ">{{emp.dateModified}}</td>
                      <td class=" ">{{emp.companyId}}</td>
                      <td><button class="btn btn-primary"(click)="onDelete(emp.id)"type="reset">Delete</button>
                     <button class="btn btn-primary"(click)="onEdit(emp.id)"type="reset">Edit</button></td>
                    </tr>
                  </tbody>
                </table>
              </div>
                      

            </div>
          </div>
        </div>
        </div>
        </div>
      </div>
    </div>
 </div>
 


        
    
  
